src/example/client/HelloWorld.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://example" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://example" xmlns:intf="http://example" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://example" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="income" type="xsd:double"/>
   <element name="calcTaxReturn" type="xsd:double"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="calcTaxResponse">

      <wsdl:part element="impl:calcTaxReturn" name="calcTaxReturn"/>

   </wsdl:message>

   <wsdl:message name="calcTaxRequest">

      <wsdl:part element="impl:income" name="income"/>

   </wsdl:message>

   <wsdl:portType name="HelloWorld">

      <wsdl:operation name="calcTax" parameterOrder="income">

         <wsdl:input message="impl:calcTaxRequest" name="calcTaxRequest"/>

         <wsdl:output message="impl:calcTaxResponse" name="calcTaxResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloWorldSoapBinding" type="impl:HelloWorld">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="calcTax">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="calcTaxRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="calcTaxResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloWorldService">

      <wsdl:port binding="impl:HelloWorldSoapBinding" name="HelloWorld">

         <wsdlsoap:address location="http://localhost:8080/services/HelloWorld"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
